table, th, td {
  border: 1px solid black !important;
}

td {
  padding: 10px;
}

.custom-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkboxes {
  width: 100%;
}

.selectorItem {
  cursor: pointer;
  border: 2px solid white;
  margin: 5px;
  padding: 5px 10px;
}

.btnactive {
  background-color: powderblue;
  border: 2px solid black;
}

.btn-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-details-details {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.imgSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgSelection > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabImg {
  width: 100px;
  height: 100px;
}

.contentImg {
  display: none;
  width: 150px;
  height: 100%;
  padding: 0 10px;
}

.contentImg {
  display: none;
  width: 100%;
  height: 100%;
}

.imgScroll {
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

@media screen and (min-width: 720px) {
  .product-details-details {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .imgSelection {
    padding: 0 10px;
  }
  .tabImg {
    width: 100px;
    height: 100px;
  }
  .imgScroll {
    width: 400px;
  }
  .contentImg {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 1020px) {
  .custom-select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .filter-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #b7b4b4;
    min-height: 650px;
  }
  .filter {
    width: 25%;
  }
  .filter-icon {
    pointer-events: none;
  }
  #payment-form {
    padding: 0 10px;
  }
  .checkboxes {
    position: relative;
    width: 20%;
  }
  .tabImg {
    width: 250px;
    height: 200px;
  }
  .imgScroll {
    width: 500px;
  }
  .contentImg {
    width: 400px;
    height: 400px;
  }
  .imgSelection {
    width: 100%;
  }
  .imgScroll {
    width: 700px;
  }
  .product-details-details {
    width: 100% !important;
  }
}
/*# sourceMappingURL=Tanks.css.map */