
.search-filter{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
  >div{
    background:whitesmoke;
    padding:10px;
  }
}

.footer-details{
  flex-direction: column !important;
  text-align:center;
  flex-wrap: wrap;
  h6{
    font-weight: bold;
  }
}

.grid{
  display:flex;
  gap:10px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-grid{
  text-align:center;
  position:relative;
  overflow:hidden;
  img{
    width:350px;
    height:400px;
    filter:brightness(70%);
    }
    img:hover{
      cursor: pointer;
      opacity:0.5;
      transform: scale(1.2);
      transition:0.5s;
    }
}

.product-view{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  color:white;
  text-transform: uppercase;
button{
  border:1px solid grey;
  background:white;
  color:black;
  border-radius: 0;
  a{
    color:white
  }
}
}

.parallax{
  background-image: url("../../../public/images/aquascape.jpeg");

   /* Set a specific height */
   min-height: 550px; 

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color:white;
   text-transform: uppercase;

   > div:nth-child(1){
    overflow:hidden;

     h5{
       font-size: 30px !important;
     text-align: center;
     padding:0 10px;
     animation:show-text 2s;
    }
  }

}

.section{
  position:relative;
  text-align: center;

  img{
    width:100%;
    height:300px;
  }
 button{
     position:absolute;
     border:none;
     z-index:2;
     top:50%;
     padding:10px 10px;
     border-radius: 10%;
     &:hover{
       background:black;
       color:white;
       transition: 0.5s all;
     }
 }
}

.slideshow-flex{
  text-transform: uppercase;
  object-fit:cover;
  height:50vh;
  width:100vw;
  position:relative;
  z-index:1;
  overflow:hidden;
  img{
    width:100%;
    height:100%;
    z-index:-1;
    top:0;
    filter: brightness(70%);
    right:0;
    left:0;
    position:absolute;
  }
}

.slideshow-details{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:40%;
  color:white;
  text-align: center;
  margin:auto;
  font-size: 15px;
  margin:auto 30px;
}

.left-arrow{
  left:0;
}
.right-arrow{
  right:0;
}


.arrow{
overflow:hidden;
}

.bi-arrow-down{
  font-size: 50px;
  position:relative;
  animation:show-arrow 3s infinite;
}


@keyframes show-text{
  from{
    transform: translateY(100%);
  }
  to{
   transform: translateY(0%);
  }
}

@keyframes show-arrow{
  from{
    top:-100px;
  }
  to{
    top:0;
  }
}

.price,.title{
  position:relative;
  width:300px;
  margin:auto;
}

.price-reveal,.title-reveal{
  position:absolute;
  top:0;
  left:0;
  right:0;
  background:lightslategray;
  height:100%;
  width:100%;
}

.slide-option{
  position:relative;
    }
  
    .slide-container{
      display:flex;
      overflow-x:auto;
      align-items: center;
      padding:10px;
      scroll-behavior: smooth;
      scrollbar-width:none;
      > div{
        background:whitesmoke;
        text-align: center;
        margin:0 10px;
        position:relative;
        padding:10px;
        border-radius: 5px;
        img{
          width:300px;
          height:250px;
        }
      }
      button{
        position:absolute;
        border:none;
        z-index:2;
        top:50%;
        padding:10px 10px;
        border-radius: 10%;
        &:hover{
          background:black;
          color:white;
          transition: 0.5s all;
        }
    }
    }

    .right{
      right:0;
    }


    .plants-card2{
      position:absolute;
      top:0;
      right:0;
      left:0;
      opacity:0;
      transition: 0.5s all;
      margin:10px;
    }

    .plants-card2:hover{
      opacity:1;
    }


@media screen and (min-width:720px){
.parallax{
  min-height:600px;
}

.slideshow-flex{
  height:60vh;
  img{
   height:100vh;
  }
}

.title{
  width:500px;
}
.slideshow-details{
  font-size: 18px;
  bottom:10%;
}

.footer-details{
  flex-direction: row !important;
}
}


@media screen and (min-height:768px){
  .parallax{
    min-height: 650px;
  }
}

@media screen and (min-width:1020px){

  .parallax{
    min-height:700px;
  }

  .slideshow-flex{
    height:70vh;
    background:radial-gradient(circle at center, black 0,lightgrey);

    img{
      object-fit:contain;
      box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    }
  }

  .slideshow-details{
    bottom:15%;
  }

 .title{
  p{
    font-size: 25px;
  }
 }
.price{
  h5{
    font-size: 20px;
  }
}

.slide-container{
  > div{
    height:350px;
    img{
      height:300px;
      width:350px;
    }
  }
}

}