.search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-filter > div {
  background: whitesmoke;
  padding: 10px;
}

.footer-details {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-details h6 {
  font-weight: bold;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-grid {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.product-grid img {
  width: 350px;
  height: 400px;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.product-grid img:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product-view {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-transform: uppercase;
}

.product-view button {
  border: 1px solid grey;
  background: white;
  color: black;
  border-radius: 0;
}

.product-view button a {
  color: white;
}

.parallax {
  background-image: url("../../../public/images/aquascape.jpeg");
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-transform: uppercase;
}

.parallax > div:nth-child(1) {
  overflow: hidden;
}

.parallax > div:nth-child(1) h5 {
  font-size: 30px !important;
  text-align: center;
  padding: 0 10px;
  -webkit-animation: show-text 2s;
          animation: show-text 2s;
}

.section {
  position: relative;
  text-align: center;
}

.section img {
  width: 100%;
  height: 300px;
}

.section button {
  position: absolute;
  border: none;
  z-index: 2;
  top: 50%;
  padding: 10px 10px;
  border-radius: 10%;
}

.section button:hover {
  background: black;
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.slideshow-flex {
  text-transform: uppercase;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slideshow-flex img {
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  right: 0;
  left: 0;
  position: absolute;
}

.slideshow-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 40%;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 15px;
  margin: auto 30px;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.arrow {
  overflow: hidden;
}

.bi-arrow-down {
  font-size: 50px;
  position: relative;
  -webkit-animation: show-arrow 3s infinite;
          animation: show-arrow 3s infinite;
}

@-webkit-keyframes show-text {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes show-text {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes show-arrow {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes show-arrow {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.price, .title {
  position: relative;
  width: 300px;
  margin: auto;
}

.price-reveal, .title-reveal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: lightslategray;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .parallax {
    min-height: 600px;
  }
  .slideshow-flex {
    height: 60vh;
  }
  .slideshow-flex img {
    height: 100vh;
  }
  .title {
    width: 500px;
  }
  .slideshow-details {
    font-size: 18px;
    bottom: 10%;
  }
  .footer-details {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media screen and (min-height: 768px) {
  .parallax {
    min-height: 650px;
  }
}

@media screen and (min-width: 1020px) {
  .parallax {
    min-height: 700px;
  }
  .slideshow-flex {
    height: 70vh;
    background: radial-gradient(circle at center, black 0, lightgrey);
  }
  .slideshow-flex img {
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  .slideshow-details {
    bottom: 15%;
  }
  .title p {
    font-size: 25px;
  }
  .price h5 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=Home.css.map */