.search-filter{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
  >div{
    background:whitesmoke;
    padding:10px;
  }
}

.footer-details{
  flex-direction: column !important;
  text-align:center;
  flex-wrap: wrap;
  h6{
    font-weight: bold;
  }
}



.parallax{
  background-image: url("../../../public/images/aquascape.jpeg");

   /* Set a specific height */
   min-height: 550px; 

   /* Create the parallax scrolling effect */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color:white;
   text-transform: uppercase;

   > div:nth-child(1){
    overflow:hidden;

     h5{
       font-size: 30px !important;
     text-align: center;
     padding:0 10px;
     animation:show-text 2s;
    }
  }

}

.section{
  position:relative;
  text-align: center;

  img{
    width:100%;
    height:300px;
  }
 button{
     position:absolute;
     border:none;
     z-index:2;
     top:50%;
     padding:10px 10px;
     border-radius: 10%;
     &:hover{
       background:black;
       color:white;
       transition: 0.5s all;
     }
 }
}

.slideshow-flex{
  text-transform: uppercase;
  object-fit:cover;
  height:50vh;
  width:100vw;
  position:relative;
  z-index:1;
  overflow:hidden;
  img{
    width:100%;
    height:100%;
    z-index:-1;
    top:0;
    filter: brightness(70%);
    right:0;
    left:0;
    position:absolute;
  }
}

.slideshow-details{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:40%;
  color:white;
  text-align: center;
  margin:auto;
  font-size: 15px;
  margin:auto 30px;
}

.left-arrow{
  left:0;
}
.right-arrow{
  right:0;
}


.arrow{
overflow:hidden;
}

.bi-arrow-down{
  font-size: 50px;
  position:relative;
  animation:show-arrow 3s infinite;
}


@keyframes show-text{
  from{
    transform: translateY(100%);
  }
  to{
   transform: translateY(0%);
  }
}

@keyframes show-arrow{
  from{
    top:-100px;
  }
  to{
    top:0;
  }
}

.price,.title{
  position:relative;
  width:300px;
  margin:auto;
}

.price-reveal,.title-reveal{
  position:absolute;
  top:0;
  left:0;
  right:0;
  background:lightslategray;
  height:100%;
  width:100%;
}

.slide-option{
  position:relative;
    }
  
    .slide-container{
      display:flex;
      overflow-x:auto;
      align-items: center;
      padding:10px;
      scroll-behavior: smooth;
      scrollbar-width:none;
      > div{
        background:whitesmoke;
        text-align: center;
        margin:0 10px;
        position:relative;
        padding:10px;
        border-radius: 5px;
        img{
          width:300px;
          height:250px;
        }
      }
      button{
        position:absolute;
        border:none;
        z-index:2;
        top:50%;
        padding:10px 10px;
        border-radius: 10%;
        &:hover{
          background:black;
          color:white;
          transition: 0.5s all;
        }
    }
    }

    .right{
      right:0;
    }


    .plants-card2{
      position:absolute;
      top:0;
      right:0;
      left:0;
      opacity:0;
      transition: 0.5s all;
      margin:10px;
    }

    .plants-card2:hover{
      opacity:1;
    }



@media screen and (min-width:200px){

  .product-grid{
    display:grid;
    grid-template-columns:50% 45%;
    grid-auto-rows: minmax(150px, auto);
    grid-gap:20px;
    align-items: center;
    justify-content: center;
    grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content"
    "footer footer"
    ;
  
    > div{
      height:200px;
      position:relative;
      background-size:100% 100%;
      background-repeat: no-repeat;
      overflow:hidden;

      
      button{
        position:absolute;
        bottom:0;
        width:100%;
        background:black;
        border-radius: 0;
        border:0;
        padding:10px 0;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        a{
          color:whitesmoke !important;
        }
      }
    
    }
  
    div:nth-child(1){
      grid-column:header;
      background-image:url("https://www.azaqua.nl/img/cms/hardscape-aquascaping.jpg");
    }
    
    div:nth-child(2){
      grid-column:sidebar;
      background-image:url("https://www.aquasabi.com/media/image/product/27669/lg/twinstar-led-light-iii-sp.jpg");
    }
    div:nth-child(3){
      grid-column:content;
      background-image:url("https://m.media-amazon.com/images/I/71z7RFtdkvL._AC_SL1500_.jpg")
    }
    div:nth-child(4){
      grid-column:sidebar;
      background-image:url("https://www.aquasabi.de/vcdn/images/dynamic/adaptive/5b9YKMMRlp/naturaquarium-takashi-amano.jpg")
    }
    div:nth-child(5){
      grid-column:content;
      background-image:url("https://azure.wgp-cdn.co.uk/app-practicalfishkeeping/gear/515aaeea77cfc.jpg?&format=webp&webp.quality=40&scale=both")
    }
    div:nth-child(6){
      grid-column: footer;
      background-image:url('https://i.ebayimg.com/images/g/zGQAAOSw~AVYpMIK/s-l1600.jpg')
    }
  
  }

}

.aquascape-pic{
  display:block;
  position:relative;

   div{
    position:absolute;
    color:white;

  label{
    margin-left:5px;
    font-size: 10px;
  }
  
  }

  
}

.button{
  border:0;
  color:white;
  padding:2px 5px;
  background:seagreen;
}

.btn-1{
  bottom:20%;
  right:10%;
}
.btn-2{
  bottom:5%;
  left:10%;
}
.btn-3{
  top:25%;
  right:30%;
}
.btn-4{
  bottom:40%;
  left:10%;
}



@media screen and (min-width:720px){
.parallax{
  min-height:600px;
}

.slideshow-flex{
  height:60vh;
  img{
   height:100vh;
  }
}

.title{
  width:500px;
}
.slideshow-details{
  font-size: 18px;
  bottom:10%;
}


.footer-details{
  flex-direction: row !important;
}

.product-grid{

  > div{
    height:300px;
  }

}

.aquascape-pic{
  display:block;
  position:relative;

   div{
    position:absolute;
    color:white;

  label{
    margin-left:5px;
    font-size: 15px;
  }
  
  }

  
}

.button{
  border:0;
  color:white;
  padding:5px 10px;
  background:seagreen;
}

.btn-1{
  bottom:20%;
  right:20%;
}
.btn-2{
  bottom:5%;
  left:10%;
}
.btn-3{
  top:30%;
  right:30%;
}
.btn-4{
  bottom:35%;
  left:10%;
}


}


@media screen and (min-height:768px){
  .parallax{
    min-height: 650px;
  }
}

@media screen and (min-width:1020px){

  .parallax{
    min-height:700px;
  }

  .slideshow-flex{
    height:70vh;
    background:radial-gradient(circle at center, black 0,lightgrey);

    img{
      object-fit:contain;
      box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    }
  }

  .slideshow-details{
    bottom:15%;
  }

 .title{
  p{
    font-size: 25px;
  }
 }
.price{
  h5{
    font-size: 20px;
  }
}

.slide-container{
  > div{
    height:400px;
    img{
      height:300px;
      width:350px;
    }
  }

}


.product-grid{
  display:grid;
  grid-template-columns: 350px;
  justify-content: unset;
  grid-template-areas:none;
  padding:50px;

  div:nth-child(1){
    grid-column:1/3;
  }
  
  div:nth-child(2){
    grid-column:3/3;
  }
  div:nth-child(3){
    grid-column:4/4;
  }
  div:nth-child(4){
    grid-column:1/1;
  }
  div:nth-child(5){
    grid-column:2/2;
  }
  div:nth-child(6){
    grid-column: 3/5;
  }

}

.aquascape-pic{

  div{ 
    label{
      font-size:20px;
    }
  }
}

}

.loader-animated{
  display:flex;
  justify-content: center;
  align-items: center;
}

.mySlides{

    width:100px;
    height:100px;
}