.product{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap:10px;
    margin:20px auto;
  }
  .product-card{
    background:whitesmoke;
    text-align:center;
    padding:10px;
    img{
      width:300px;
      object-fit: cover;
      height:300px;
    }
  }
  .loader{
    position:absolute;
    top:30%;
    left:0;
    right:0;
  }

  .star{
    color:orange;
  }
  

  @media screen and (min-width:1020px){
 
    .filter-data{
      display:flex;
    }

    .filter-selection{
      width:300px;
      background:darkkhaki;
    }

    .loader{
      left:55%;
      right:55%;
      top:15%;
    }
    
  }