*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}


body{
  background:darkseagreen !important;
  overflow-x:hidden !important;
  scroll-behavior: smooth;
}

a{
  color:black !important;
  text-decoration: none !important;
}
.logo{
  a{
    color:white !important;
  }
}


.product{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  gap:10px;
  margin:20px auto;
}
.product-card{
  background:whitesmoke;
  text-align:center;
  padding:10px;
  p{
    font-size: 12px;
    width:300px;
  }
  img{
    width:400px;
    object-fit: cover;
    height:400px;
  }
}

.customer-details{
  flex-direction:column !important;
}


@media screen and (min-width:1020px){
  .product-details-details{
    width:50% !important;
    padding:0 10px;
  }
}


