//Product

.product{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  gap:10px;
  margin:20px auto;
}
.product-card{
  background:whitesmoke;
  text-align:center;
  padding:10px;
  img{
    width:300px;
    object-fit: cover;
    height:300px;
  }
}



.product-info{
  flex-direction: column;
}


@media screen and (min-width:720px){

  .product-info{
    flex-direction: row;
  }


 .product-img{
  img{
    width:400px;
    height:400px;
  }
 }
}

@media screen and (min-width:1020px){
  .product-img{
    width:700px;
    height:600px;
    img{
      width:550px;
      height:600px;
    }
  }
}


